@import 'tailwindcss';

@theme {
  --color-brand-primary: #34495e;
  --color-brand-accent: #d35400;
  --color-brand-success: #27ae60;
  --color-brand-warning: #f39c12;
  --color-brand-error: #c0392b;
}

@layer base {
  body {
    @apply p-10;
  }
}
